.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botões {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    background-color: var(--verde-degrade);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 97%;
    overflow: hidden;
    margin: 1.5em 1em;
}

.descrição {
    padding: 20px;
    flex: 1;
}

.descrição__titulo{
    color: var(--verde-claro);
    font-size: 30px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descrição__texto--negrito{
    font-weight: 700;
    color: var(--cinza);
    font-size: 17px;
}

.descrição__texto {
    font-size: 17px;
    color: var(--branco);
}

.botões__ancora {
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background-color: var(--botao-azul);
    padding: 1em 2.2em;
    color: var(--preto);
    font-weight: 700;
}

.botões__ancora:hover {
    color: var(--branco);
    background-color: var(--botao-efeito);
}

.card__imagem {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descrição__imagem {
    max-width: 80%;
    height: auto;
    border-bottom: 2px solid #ccc;
}

.card__titulo{
    color: var(--roxo-oscuro);
    background-color: var(--branco);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

@media screen and (min-width: 1024px) {
    .card__titulo {
        font-size: 26px;
    }
}